# ========== Python ==========
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/
env/
*.sqlite3

# pip dependency logs
pip-log.txt

# ========== Node / Vue ==========
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.DS_Store

# ========== OS Specific ==========
Thumbs.db
.DS_Store


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
